body{
    margin: 0%;
    padding: 0%;
}
.h-conatiner{
    margin: 0%;
    margin-top: 0%;
    position: absolute;
    background-color: white;
    height: 800px;
    width: 1519px;
}
.h1{
    margin-left: -1200px;
    text-align: center;
    font-size: 55px;
    margin-top: -10px;
}
.navbar{
    background-color: rgba(126, 8, 173, 0.801);
    border-radius: 40px;
    position: relative;
    margin-left: 900px;
    margin-top: -150px;
}
.navbar li{
    text-align: right;
    float: left;
    list-style: none;
    margin: 23px 20px;
}
.navbar ul{
    overflow: auto;
}
.navbar li a{
    padding: 10px 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}
a{
    background-image: linear-gradient( 
        to right,
        #010d12,
        #011015 50%,
        #fdf7f7 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
a:before{
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
}
a:hover{
    background-position: 0;
}
a:hover::before{
    width: 100%;
}
.h2{
    font-size: 50px;
    margin-left: 50px;
    margin-top: 150px;
}
.h3{
    margin-left: 50px;
    font-size: 70px;
    line-height: 30px;
    margin-top: -30px;

}
.h4{
    margin-left: 50px;
}
button{
    margin-left: 10px;
    background-color: rgba(126, 8, 173, 0.801);
    border: none;
    border-radius: 30px;
    padding: 15px 32px;
    color: rgb(254, 248, 248);
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
button:hover{
    background-color: #3f066d;
}
button:active{
    background-color: #3f066d;
    transform: translateY(4px);
}
.h5{
    margin-left: 900px;
    margin-top: -450px;
}
.about{
    padding: 430px 0px;
    background-color: rgba(193, 74, 240, 0.801);
    display: block;
    height: 800px;
    width: 1519px;
}
.a1{
    margin-left: 190px;
    margin-top: 600px;
}
img[id^=a]{
    border-radius: 50%;
}
.a2{
    margin-left: 800px;
    margin-top: -600px;
    font-size: 50px;
}
.a3{
    margin-left: 700px;
    margin-top: 100px;
    font-size: 25px;
    margin-right: 100px;
    
}
.a4{
    margin-left: 800px;
}
.services{
    padding: 150px 0px;
    background-color: white;
    display: block;
    width: 1519px;
}
.s1{
    text-align: center;
    margin-top: -100px;
    font-size: 50px;
}
.s2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 100px;
}
.card{
    height: 355px;
    width: 305px;
    padding: 20px 25px;
    background-color: rgb(125, 28, 204);
    border-radius: 50px;
    margin: 55px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin-bottom: 25px 0px;
    color: #faf9fb;
}
h2{
    color: rgb(32, 2, 56);
    font-size: 30px;
    margin-bottom: 15px;
}
.text p{
    color: white;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid ;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #22033d;
    cursor: pointer;
}
.img1{
    border-radius: 10px;
}    
.contact{
    padding: 150px 0px;
    background-color: rgba(193, 74, 240, 0.801);
    display: block;
    width: 1519px;   
}
.c1{
    text-align: center;
    margin-top: -100px;
    font-size: 70px;
}
.c2{
    text-align: center;
    margin-top: -50px;
    font-size: 25px;
}
.c3{
    margin-top: 100px;
    margin-left: 150px;
     
}
.c4{
    margin-top: 50px;
    margin-left: 300px;
}
.c5{
    margin-top: -400px;
    margin-left: 900px;
    font-size: 30px;
}
input{
    height: 30px;
    border-radius: 10px;
}
input[id^="message"]{
    height: 150px;
}
.c6{
    margin-top: 50px;
    margin-left: 1100px;
    font-size: 30px; 
}
.i1{
    margin-left: -10px;
}
.i3{
    margin-left: 20px;
}
